/* Basic Style */
input,
button{
  outline: none;
}
.body {
  font-family: Lato, sans-serif;
  background-color: #f8f8f8;
  color: #333333;
}
.header {
  width: 500px;
  display: block;
  text-align: right;
  margin: 0 auto;
}
.header__logo {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}
.main {
  width: 500px;
  display: block;
  margin: 0 auto 0;
}
.task__name,
.task__input,
.task__new {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task__wrapper {
  display: flex;
  margin: 20px 0 0;
}
.task__btn {
  width: 60px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  border: 0;
  background: none;
  color: #888888;
  cursor: pointer;
}
.task__btn:hover {
  color: #3a3a3a;
}
/* Heading */
.title {
  font-weight: 700;
  font-size: 15px;
  padding: 30px 0 10px;
  margin: 0;
  border-bottom: 2px solid #333333;
  color: #333333;
  text-transform: uppercase;
}
.task__input,
.task__new {
  height: 21px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0 9px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  background: #ffffff;
  color: #888888;
}
.task__input:focus,
.task__new:focus  {
  color: #333333;
}
/* New Task */
.task__new {
  width: 318px;
}
/* Task list */
.task__list {
  margin: 0;
  padding: 0;
}
.task__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  list-style: none;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}
.task__item > * {
  vertical-align: middle;
}
.task__checkbox {
  margin: 0 10px;
}
.task__name {  
  width: 226px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 18px;
}
.task__input {
  width: 226px;
}
.task__btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.task__btn-img:hover {
  transform: rotateZ(0);
}
/* Completed */
.task__list_completed .task__name {
  text-decoration: line-through;
  color: #888888;
}
/* Edit Task */
.task__input {
  display: none;
}
.task__item_edit .task__input {
  width: 224px;
  display: inline-block;
}
.task__item_edit .task__name {
  display: none;
}
/* Media */
@media (max-width:768px) {

  .header {
    text-align: center;
  }

}